.gameCard {
	--background: #ffffff
}

.tags {
	border-radius: 5px;
	border: 1px solid gray;
	padding: 16px;
	margin: 16px;
	margin-top: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr auto;
	grid-column-gap: 5px;
}

.icon {
	padding: 0;
	margin: 0;
}
