.main {
	--background: #212738;
}

.icon {
	position: absolute;
	top: 40%;
	color: #FFFFFF;
	font-size: 25px;
}

.icon.left {
	left: 5px;
}

.icon.right {
	right: 5px;
}

.filters {
	margin: 30px 10px 30px 20px;
}

.link {
	--background: transparent;
}
