.main {
	--background: #212738;
}

.icon {
	position: absolute;
	top: 40%;
	color: #FFFFFF;
	font-size: 25px;
}

.icon.left {
	left: 5px;
}

.icon.right {
	right: 5px;
}

/* .link {
	--background: transparent;
} */

.game-location {
	margin: 40px auto 20px auto;
	padding: 10px 20px;
	border: 1px solid #F97068;
	border-radius: 50px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-family: 'Titan One', cursive;
}

.fas.fa-map-marker-alt.games {
	font-size: 20px;
}
