.gameImg {
	width: 100vw;
	height: 40vh;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.gameContent {
	padding: 40px;
}

.gameContent h1 {
	margin-top: 0;
}

.gameTitle.big {
	font-size: 27px;

}

.gameSubtitle {
	font-size: 15px;
}

.gameTags {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	margin-top: 30px;
}

.gameTag {
	font-family: 'Skranji', cursive;
	/* font-family: 'Titan One', cursive; */
	color: black;
	font-size: 15px;
	width: fit-content;
	border: 2px solid #F97068;
	height: fit-content;
	align-content: center;
}

.gameText {
	margin: 30px 0px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.play {
	--background: #D1D646;
	width: 50vw;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	--border-radius: 0;
	font-family: 'Titan One', cursive;
	color: black;
}

.backBtn {
	top: 10px;
	left: 10px;
	font-size: 25px;
	color: white;
}

.diagonal.big {
	border: 0 solid #ffffff;
	width: 100%;
  border-left-width: 400px;
  border-top-width: 40px;
  border-top-color: transparent;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.playAlert {
	--background-color: #E14848;
	font-family: 'Skranji', cursive;
	color: #212121;
}

.playAlert button span {
	color: #212121;
}
