.login {
	--background: #212121;
	--color: white;
}

.form {
	margin: 20px 50px;
	--background: transparent;
	--border-color: #E14848;
	--border-width: 2px;
	--border-radius: 50px;
	--highlight-color-focused: #E14848;
}

.signup {
	margin: 10px 50px;
}

.label {
	color: #9A9A9A;
	font-family: 'Skranji', cursive;
}

.submitBtn {
	--background: #FFE500;
	width: 50vw;
	height: 50px;
	margin: 30px auto 0px auto;
	--border-radius: 0;
	font-family: 'Titan One', cursive;
	font-size: 25px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.formTitle {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Titan One', cursive;
	font-size: 30px;
	color: white;
}

.changePage {
	margin: 50px auto 30px 20px;
	width: 150px;
	--background: #E14848;
	--border-radius: 50px;
	font-family: 'Skranji', cursive;
	color: #212121;
}

.manaoLogo {
	width: 100px;
  height: 100px;
	margin: 50px auto 20px auto;

}

.error {
	margin: 0px;
	margin-left: 100px;
	--text-align: center;
	font-family: 'Skranji', cursive;
	color: #E14848;
}
