.quizMain {
    --background:#78839E;
    --border-color: #FFE500;
	--border-width: 4px;
    --border-radius: 50px;
    --margin-left: 20px;
	--margin-right: 20px;
}

.playMenu {
    --width: 20px;
    --background: #FFE500;
    --max-width: 20px;
}

.description {
    color: #F4F4F4;
}

/* ion-toolbar, ion-header {
    --min-width: 48px;
   } */