.quizPage {
    background-color: #212738;
}

.quizbar {
    --background:#57C4E5;
    border-left: 10px solid #212738;
    border-right: 10px solid #212738;
    border-top: 10px solid #212738;
    border-top-right-radius: 30px;
}

.noShadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.roundCorner {
    position: absolute;
    right: 0;
    top: 0;
}

.menuBox{
    width: 60px;
    height: 56px;
    background-color: #212738;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 10px #00000067;
}

.quizMain {
    --background:#57C4E5;
    border-left: 10px solid #212738;
    border-right: 10px solid #212738;
    border-bottom: 10px solid #212738;
}

.playMenu {
    --width: 20px;
    --background: #212738;
    --max-width: 20px;
}

.extraInfo {
    color: #F4F4F4;
    font-size: 14px;
}

.description {
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
    padding-top: 6px;
    padding-bottom: 6px;
}

.mapIcon{
    position: absolute;
    height: 30px;
    width:30px;
    right: 0;
    padding-right: 5px;
    color: black;
    margin-bottom: 10px;
}
.fatPin {
    width: 20px;
    height: 20px;
    position:absolute;
    margin-left:100px;
    top: 0;
    margin-top: 12px;
    /* left: 2; */
}

.scoreIcons {
    width: 20px;
    height: 20px;
    position:absolute;
    top: 0;
    margin-top: 5px;
    /* left: 2; */
}

.trophy{
    margin-left:110px;
    color: #FF2929;
}

.score{
    margin-left:130px;
    color: black;
    font-size: 15px;
    font-family: 'Skranji', cursive;
    width: 200px;

}

.manaoLogo {
	width: 60px;
    height: 60px;
    margin: auto;
}

.problemBox {
    background-color: #EDF2EF;
    text-align: center;
    /* padding:10px; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000067;
}

.problemString {
    font-family: 'Courier New', Courier, monospace;
}

.problemImg {
    max-width: 300px;
    max-height: 150px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: content-box;
}

.footerQuiz {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #212738;
    z-index:0;
}

.lockIcon{
    color: rgb(172, 169, 169);
    width: 50vw;
    height: 50px;
    opacity: 0.6;
    position: fixed;
	left:25%;
    bottom: 0;
    margin-bottom: 20px;
    z-index:1;
}

.openLock {
    color: rgb(51, 233, 81);
    opacity: 1;
}

.triangleGame {
    position: absolute;
    bottom: 0;
    border-color: transparent transparent #212738 transparent;
    border-style: solid;
    border-width: 0px 200px 100px 150px;
    width: 100%;
}

.titleChallenge {
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
	font-family: 'Skranji', cursive;
	font-size: 24px;
    color: black;
    text-shadow: 2px 2px 4px #00000067;
}


.ionProgressBar {
    --buffer-background: #E9E9E9;
    --progress-background: #FFE500;
    width: 60%;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    left:25%;
    margin-bottom: 10px;
}

.answerForm {
    --background: transparent;
	--border-width: 2px;
	--border-radius: 50px;
    --highlight-color-focused:transparent;
    text-align: center;
    margin-top: 20px;
    position: sticky;
    font-size: 40px;
}

.redBorder {
	--border-color: #E14848;
}

.greenBorder {
	--border-color: #2AF870;
}

.checkIcon{
    font-size: 50px;
    --background: transparent;
    margin: 0;
    padding: 0;
}

.greenAnswer{
    color: #2AF870;
}

.redAnswer{
    color: #E14848;
}

.answer {
    font-size: 60px;
    font-family: 'Skranji', cursive;
    text-align: center;
    background-color: transparent;
}

.hintBox {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding:0;
}

.imgHint {
    margin: auto;
    padding: 0
}

.popover {
    --box-shadow: 2px 2px 10px #00000067;
    --background: #FFFFFF;
    --max-width: 100%;
    --max-height: 40%;
    position: absolute;
    bottom:0;
    --border-radius: 20px;
    padding-left:30px;
    padding-right: 30px;
}

.hintIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    z-index:1;
}

.hintUsed {
    opacity: 0.5
}

.hintContainer {
    --background: #009688;
    text-align: center;
    font-size: 60px;
}


.modalWindow {
    --background: #212738;
}

.fa-angle-double-down {
	color: white;
	font-size: 50px;
	position: absolute;
	left: 45%;
	bottom: 20px;
}
<<<<<<< HEAD
=======

.guide.indication {
	font-family: 'Skranji', cursive;
}
>>>>>>> master
