.settings.label {
	opacity: 1 !important;
}
.main ion-item {
	margin-top: 40px;
}
.settingsInput {
	margin-bottom: 40px;
}

.settings.play {
	margin-left: 80px;
}

.settings.play.logout {
	--background: #F97068;
	position: absolute;
	bottom: 50px;
}
