.toolbar {
	--background: #212121;
	color: white;
}

.toolbarItem {
	padding-top: 10px;
	padding-bottom: 10px;
}

.toolbarItem.avatar {
	margin-right: 10px;
}

.toolbarLogo {
	height: 40px;
	width: 40px;
}

.toolbar-title {
	text-align: center;
}

ion-avatar {
  max-width: 35px;
  max-height: 35px;
}

ion-menu-button {
	color: white;
}
