.userOnboarding {
	--background: #212738;
	align-content: center;
	font-family: 'Skranji', cursive;
}

/* .onboardingGrid {
	margin-top: auto;
	margin-bottom: auto;
} */

.guide {
	font-size: 36px;
	color: #57C4E5;
	text-align: center;
	padding: 30px;
}

.guideContainer {
	--background: transparent;
	--border-style: hidden;
}

.locationName {
	color: #F97068;
	text-decoration: underline;
	font-family: 'Skranji', cursive;
}

.fa-angle-double-right {
	color: white;
	font-size: 50px;
	position: absolute;
	left: 45%;
	bottom: 20px;
}

.fa-thumbs-up {
	color: white;
	font-size: 50px;
	padding: 20px;
	box-shadow: 2px 2px 10px #00000067;
	border-radius: 50px;
}

.iconCol {
	align-content: center;
}
