.onboardingSlide {
	height: 100vh !important;
}

.onboardingSlide > div {
	height: 100vh;
}

.guide.ready {
	text-decoration: none;
}

.guide.go {
	color: black;
}

.two {
	background: #57C4E5;
}

.guide.instructions {
	color: black;
}

.instructionsLogo {
	height: 50px;
	width: 50px;
}

.instructionsGrid {
	padding-right: 20px;
}
